.weekday {
    font-size: 0.8rem;
    font-weight: 100;
    color: rgb(32, 32, 32);
}

.weekendWeekday {
    font-size: 0.8rem;
    font-weight: 100;
    color: #cccccc;
}

.holidayWeekday {
    font-size: 0.8rem;
    font-weight: 100;
    color: #ff2d2d;
}
