.input {
    height: 2rem;
    width: 4rem;
    border: 0.01rem solid rgb(128, 128, 128);
    border-radius: 0.2rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 1rem;
}
