

.workingHoursCell {
    height: 2rem;
    width: 4rem;
    border: 0.01rem solid rgb(128, 128, 128);
    border-radius: 0.2rem;
    text-align: center;

    margin-left: 1rem;
    display:grid;
    grid-template-columns: auto;


    .sum {
        font-weight: 600;
        font-size: 0.7rem;
    }

    .workingHoursDiff{
        font-weight: 300;
        font-size: 0.5rem;


    }

    .percent-20{
        color: #ff0000
    }

    .percent-15{
        color: #b80000
    }

    .percent-10{
        color: #7c0000
    }

    .percent-5{
        color: #440000
    }

    .percent0{
        color: black
    }

    .percent5{
        color: #020044
    }

    .percent10{
        color: #040085
    }

    .percent15{
        color: #0500ba
    }

    .percent20{
        color: #0700ff
    }
}
