.dateRow {
    // display: grid;
    // grid-template-columns: auto repeat($days, 2.2rem) 8.2rem;
    // grid-template-rows: 1fr;
    align-items: center;

    .dateSelector {
        margin-top: 1rem;
        margin-right: 1rem;
    }
}

.separator {
    height: 1rem;
}

.qualificationSection {
    width: 16rem;
    font-size: 0.7rem;
    border-width: 1px;
    border-style: none none solid none;
    padding: 1rem 0 0 0;
    border-image:
    linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0)
    )  100% 1;
}
